


<section *ngIf="authority !== 'user'">
<section id="intro">
    <div class="intro-container wow fadeIn" style="background-image: url('../assets/img/login.jpeg')">
      <h1 class="mb-4 pb-0" style="color:#0b1534">SIGN IN TO <br><span>SH EVENT</span></h1>

    </div>
  </section>


<section id="contact" class="section-bg wow fadeInUp">

  <div class="container">

    <div class="section-header">
      <h2>SIGN IN</h2>
      <div *ngIf="isLoggedIn; else loggedOut">
        Logged in as {{roles}}.
      </div>
    </div>

    <div class="row contact-info">



    </div>

    <div class="form">
      <div id="sendmessage">Your message has been sent. Thank you!</div>
      <div id="errormessage"></div>
      <form action="" method="post" role="form" class="contactForm" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-row">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6">
              
                <input type="test" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required placeholder="Your Username" />
                <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Username is required</div>
                  </div>
                <div class="validation"></div>
              </div>
          <div class="form-group col-md-3"></div>
          <div class="form-group col-md-3"></div>
          <div class="form-group col-md-6">
            <input type="password"  name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6"  class="form-control" placeholder="Your Password"   />
            <div class="validation"></div>
            <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
          </div>

        </div>
        <br>
        <div class="text-center"><button type="submit" >Login</button></div>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div>

        </form><br><br>
        <div class="text-center">
            Don't have an account?</div><br>
            <div class="text-center"> <a href="signup" style="color:white"><button type="submit" style="background-color:#0b1534" >Sign Up</button></a> </div>
    </div>

  </div>
</section>

</section>