<section id="intro"  style="height:100px">

  </section>
    
  <section id="hotels" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Users</h2>
       
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" *ngFor="let model of users">
            <div class="hotel">
              <div class="hotel-img">
                <img src="../assets/img/speakers/4.jpg" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="#">{{model.username}}</a></h3>

         
            </div>
          </div>

          

        </div>
      </div>
  
    </section>

